<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./assets/css/cssreset.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


  {{!-- <script src="./script.js"></script> --}}
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment-with-locales.min.js"></script>
  {{!-- <link href="css/datetimepicker.css" rel="stylesheet"/>
  <script src="js/datetimepicker.js"></script> --}}

  <title>Home Page</title>
</head>
<body>

<nav style="background-color: rgb(13, 7, 102)">
  <div class="nav-wrapper" id="nav">
    <a href="/" class="brand-logo" style="padding-left: 12px;">Parent Match</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/survey">Survey</a></li>
      <li><a href="/calendar">Calendar</a></li>
      <li><a href="/profile">Profiles</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </div>
</nav>


  {{!-- <nav>
    <div class="nav-wrapper" id="nav">
      <a href="#!" class="brand-logo">Parent Match</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/"> Home </a></li>
        <li><a href="/profile">Profiles</a></li>
        <li><a href="/survey">Survey</a></li>
        <li><a href="/calendar">Calendar</a>
        </li>
      </ul>
    </div>
  </nav> --}}



  {{{body}}}



</body>
<script type="text/javascript">
  $(document).ready(function () {
    $('#submit').click(function submit() {
      console.log("submit")
      let interest= $('#interest').val();
      let gender_match= $('#genderMatch').val();

      let match_man = gender_match.includes("Men");
      let match_women = gender_match.includes("Women");
      let match_nonbinary = gender_match.includes("Non-binary humans");

      let fun = interest = interest.includes("Occasional fun nights out")
      let support = interest = interest.includes("A supportive relationship")
      let partner = interest = interest.includes("A partner to love me and my kids")
      let unknown = interest = interest.includes("I am not sure/depends on the person")

      let newParent = {
        first_name: $('#name_first').val(),
        last_name: $("#name_last").val(),
        age: $("#age").val(),
        email: $('#email').val(),
        num_Kids: $('#numKids').val(),
        custody: $('#custody').val(),
        match_man: match_man,
        match_women: match_women,
        match_nonbinary: match_nonbinary,
        fun: fun,
        support: support,
        love: partner,
        unknown: unknown,
        gender_match: $('#genderMatch').val(),
        interest: $('#interest').val(),
        zip_code: $("#zip").val(),
        //bio: $('#bio').val()
      }
      console.log("data stored in array");
    console.log(newParent);
    $.ajax("/api/dating", {
      type: "POST",
      data: newParent
    }).then(
      function () {
        console.log("created new match");
        // Reload the page to get the updated list
        // location.reload();
      }
    );

  });

    });

</script>
</html>