<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="./script.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <!--START DATE CODE -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" 
  integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" 
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.0/moment-with-locales.min.js"></script>
<link href="css/datetimepicker.css" rel="stylesheet">
<script src="js/datetimepicker.js"></script>

  <title>Home Page</title>
</head>
<nav>
        <div class="nav-wrapper" id="nav">
            <a href="#!" class="brand-logo">Problem Solver</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="https://www.rockstartutoring.com/">Tutoring Services</a></li>
                <li><a href="/profile">Profiles</a></li>
                <li><a href="/survey">Survey</a></li>
                <li><a
                        href="/calendar">Calendar</a>
                </li>
            </ul>
        </div>
    </nav>
<body>
  {{{body}}}
</body>

</html>