<h3 id="welcome">Parent Match Blog</h3>
<h5 id="welcome" class="spacing-bottom">Your one stop shop for tips on how to take care of yourself, your significant other, and all kids involved.</h5>

<div style="background-color: blanchedalmond; text-align: center;">
    <a href="https://www.zoosk.com/date-mix/dating-advice/dating-with-kids/single-parent-dating-advice/">
        https://www.zoosk.com/date-mix/dating-advice/dating-with-kids/single-parent-dating-advice/
    </a>
    <hr>
    <a href="https://www.familylife.com/articles/topics/parenting/parenting-challenges/single-parenting/11-best-practices-for-dating-as-a-single-parent/">
    https://www.familylife.com/articles/topics/parenting/parenting-challenges/single-parenting/11-best-practices-for-dating-as-a-single-parent/
    </a>
    <hr>
    <a href="https://health.usnews.com/wellness/for-parents/articles/2017-01-27/dating-as-a-single-parent-after-the-kids-go-to-bed">
    https://health.usnews.com/wellness/for-parents/articles/2017-01-27/dating-as-a-single-parent-after-the-kids-go-to-bed
    </a>

</div>


{{!-- <img src="/single_parent_dating_article.png"> --}}