    <h1 id="welcome"> Let's Find a Date! </h1>
    <p id="text" class="welcome">We know adult time is hard to come by. <br>
        So don't make finding an adult to hang out with hard, too! <br>
        Look through the calendar below and see who might have some free time to hang out. <br>
        Please also update your calendar when you know you will have some free time so others can match with you.</p>
    <iframe id="calendar"
        src="https://calendar.google.com/calendar/embed?src=2s102cmgsavak6g7pj0fmn9kms%40group.calendar.google.com&ctz=America%2FLos_Angeles"
        style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <!-- <h1>NExt peice of code</h1> 
            <div id="calendar">
            <iframe src="https://calendar.google.com/calendar/embed?title=Date%20Night!&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=600&amp;wkst=2&amp;bgcolor=%23ffffff&amp;src=2s102cmgsavak6g7pj0fmn9kms%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FLos_Angeles" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
            -->
    </div>
