<h1> Parent Match</h1>
<h2> Welcome to parent match. We help busy parents find a match. <br>
  It doesn't matter if you want a partner in crime for a rare night
    out, or someone to share your family with, we got you covered. <br>
    Sign up today and find a date or a mate. </h2>

<div class="row" id="link">
    <button id="button"> <a href="/intention">Login </a></button>

</div>
<div class="row" id="link">
    <button id="button"> <a href="/survey"> Sign Up!</a></button></div>