<h3 id="welcome"> Welcome to Parent Match!</h3> 
<h5 id="welcome" class="spacing-bottom">We help busy parents find a match. <br>
  It doesn't matter if you want a partner in crime for a rare night
  out, <br> or someone to share your family with, we got you covered. <br>
  Sign up today and find a Date or a Mate.</h5>

<div class="motivationalPicture">
    <img src="https://cdn2.momjunction.com/wp-content/uploads/2016/03/Quotes-Dedicated-To-Single-Moms-624x416.jpg" alt="Motivational quote and picture." height="250px" width="450">
</div>
<div class="row" class="logsign">
    <button id="button" style="margin-bottom: 30px;"> <a href="/signinup">Login</a></button>
    <button id="button"> <a href="/survey">Sign Up!</a></button>
</div>