<h5 id="welcome" class="spacing-bottom"> What are you here for today? <br>
If you have a free night and want to see who else might have a free night too, click Date. <br>
If you want to get to know someone on a deeper lever, click Mate to browse profiles and request a video chat.
</h5>
{{!-- <section id="welcome" style="margin-bottom: 0px;">
    <img src="http://tech.yeesiang.com/wp-content/uploads/2013/11/bootstrap-login.png" alt="Log in options." height="300px" width="400px">
</section> --}}
<div id="photo-left">
    <img src="https://kid101.com/wp-content/uploads/2017/02/Free-Family-Fun-1.jpg" alt="Family fun photo" height="350px" width="500px">
</div>
<div class="row" id="link-intentions">
    <button id="button" class="fixthis" style="margin-bottom: 10px; height: 150px; width: 300px"> <a href="/calendar"> DATE!</a></button>
    <button id="button" class="fixthis" style="height: 150px; width: 300px">  <a href="/profile">MATE!</a> </button>
</div> 
<div id="fixed-photo">
    <img src="https://images-i.jpimedia.uk/imagefetch/c_fill,f_auto,h_956,q_auto:eco,w_1700/https://inews.co.uk/wp-content/uploads/2019/01/Flirty-Dancing-S1-Hannah-and-James-Ep1.9.jpg" alt="Sweet photo" height="250px" width="400px">
</div>
