<h2> What are you here for today? <br>
If you have a free night and want to see who else might have a free night too, click Date. <br>
If you want to get to know someone on a deeper lever, click mate to browse profiles and request a video chat.
</h2>
<div class="row" id="link">
    <button id="button"> <a href="/calendar"> DATE!</a></button>
</div>
<div class="row" id="link">
    <button id="button">  <a href="/profile">MATE!</a> </button>
</div>