<h5 id="welcome" class="spacing-bottom"> What are you here for today? <br>
If you have a free night and want to see who else might have a free night too, click Date. <br>
If you want to get to know someone on a deeper lever, click Mate to browse profiles and request a video chat.
</h5>
{{!-- <section id="welcome" style="margin-bottom: 0px;">
    <img src="http://tech.yeesiang.com/wp-content/uploads/2013/11/bootstrap-login.png" alt="Log in options." height="300px" width="400px">
</section> --}}
<div class="row" id="link">
    <button id="button" style="margin-bottom: 10px;"> <a href="/calendar"> DATE!</a></button>
    <button id="button">  <a href="/profile">MATE!</a> </button>
</div> 

