  <h1> Parent Match</h1>
  <h2> Welcome to the dating app for people with kids. We know how busy you are, and we got you covered. Have a randome
    free night? Let us find you a date. Looking for something more? Let us find you a mate! </h2>
  <div class="survey">
    <form>
<!--START NEW CODE-->
{{!-- <div id="picker"> </div>
<input  id="result" value="" placeholder="DOB MM-DD-YY"> --}}
      <!--  END NEW CODE-->
      <div class="form-group">
        <label for="name_first"> First Name </label>
        <input id="name_first" class="form-control" type="text" placeholder="First Name">
      </div>
      <div class="form-group">
          <label for="name"> Last Name </label>
          <input id="name_last" class="form-control" type="text" placeholder="Last Name">
        </div>  
      <div class="form-group">
          <label for="age"> Enter the date you were born </label>
          <input id="age" class="form-control" type="text" placeholder="Year of Birth">
        </div>  

      <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
      </div>
    
      <div class="form-group">
        <label for="exampleFormControlSelect1">Number of Kids</label>
        <select class="form-control" id="numKids" >
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5+</option>
        </select>
      </div>
    
      <div class="form-group">
        <label for="exampleFormControlSelect2">I have my kids with me</label>
        <select class="form-control" id="custody">
          <option>100% of the time</option>
          <option>Most of the time</option>
          <option>50% of the time</option>
          <option>Less than 50% of the time</option>
          <option>Rarely</option>
          <option>It varys in our family</option>
        </select>
      </div>

   

    <div class="form-group">
      <label for="exampleFormControlSelect2">I identify as</label>
      <select class="form-control validation" id="genderSelf">
        <option>Male</option>
        <option>Female</option>
        <option>Non-binary</option>
      </select>
    </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1"> Optional Bio</label>
        <textarea class="form-control" id="bio" rows="3"></textarea>
      </div>
            <div class="form-group">
        <label for="exampleFormControlTextarea1"> Zipcode</label>
        <textarea class="form-control" id="zip" rows="1"> </textarea>
      </div>

    </form>
    <input type="button" id="submit" value="SUBMIT"> 
  </div>
