.list-group-item {
  line-height: 2.5;
}
body {
  background-color: rgb(169, 169, 173);
}

/* nav {
  background-color: rgb(163, 22, 22) 
} */

body {
  padding: 5%;
}

.survey {
  width: 100%;
  padding: 10%;
  background-color: grey;
  color: whitesmoke;
}

#link {
  height: 200px;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 0%;
}

#button {
  height: 100px;
  width: 100%;
  font-size: 30px;
  background-color: whitesmoke;
}

#calender {
  margin: auto;
  padding: 4%;
  width: 80%;
}

#text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#welcome, .welcome {
  text-align: center;
}

.validation input:required {
  color: black;
}

#calendar {
  position: relative;
  left: 172px;
}